body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* NAVIGASI NAVIGASI NAVIGASI */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 5px 20px 0 20px;
  border-bottom: 0.2px solid rgb(0, 0, 0, 0.3);
  color: white;
  z-index: 99999;
}

.navbar-logo {
  width: 20px;
  height: 20px;
}
.navbar-logo img {
  margin: 10px 0 0 40px;
  transform: scale(2);
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
}

.navbar-nav ul {
  display: flex;
  list-style: none;
}

.navbar-nav li {
  position: relative;
}

.navbar-nav ul li a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar-nav ul li a:hover {
  border-radius: 10px;
  background: rgb(217, 59, 74, 0.2);
}

/* Dropdown */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.navbar-nav ul {
  display: flex;
  list-style: none;
}

.navbar-nav li {
  position: relative;
}

.navbar-nav a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.navbar-nav a:hover {
  background: #555;
}

/* Dropdown */
.dropdowns,
.dropdown {
  display: none; /* Default tersembunyi */
  position: absolute; /* Agar tidak mengganggu tata letak */
  background-color: #fff; /* Latar belakang dropdown */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
}
.dropdown-parent a i svg {
  width: 30px;
  transform: rotate(0deg); /* Default position: points right */
  transition: transform 0.3s ease; /* Smooth transition */
}
.dropdown-parent:hover a i svg {
  fill: #d93b4a;
  transform: rotate(-180deg); /* Rotate 180 degrees on hover */
}
.dropdown-parent:hover .dropdowns,
.dropdown-parent:hover .dropdown {
  display: flex;
  flex-direction: column;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.dropdown-list ul {
  list-style: none;
}

.dropdown-list ul li {
  flex-basis: 45%; /* Adjust this value based on your layout preference */
  margin-bottom: 10px;
}
/* Adjust for small screen or tight layout */
@media (max-width: 768px) {
  .dropdown-list ul li {
    flex-basis: 100%; /* Stacks items vertically on smaller screens */
  }
}
.dropdown-list span {
  font-weight: 500;
  color: #000;
}
.dropdown-list a {
  display: flex;
  align-items: center;
}

.dropdown-list img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.dropdown-list a:hover {
  background-color: #ff6b6b;
  border-radius: 10px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.dropdown a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.dropdown img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.dropdown a:hover {
  background-color: #ff6b6b;
  border-radius: 10px;
}

/* Navbar Extra */

.navbar-extra {
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.navbar-login {
  font-size: 1.1rem;
  margin-left: -60px;
}
.navbar-login a {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  padding: 10px 30px;
  border-radius: 5px;
}
.navbar-login .register-link {
  font-weight: 600;
  color: #000;
}
.navbar-login .register-link:hover {
  background-color: #ff6b6b;
  color: white;
}
.navbar-login .login {
  background-color: #000;
  color: white;
  font-weight: 600;
}
.navbar-login .login:hover {
  background-color: #ff6b6b;
}
#hamburger-menu {
  margin: 5px 0 0 20px;
  display: none;
  color: #000;
}
/* Responsive navbar */
/* komputer */
@media (max-width: 1360px) {
  .navbar-logo img {
    transform: scale(1.5); /* Logo tetap terlihat jelas */
  }
  .navbar-nav a {
    font-size: 16px;
  }
  .navbar-nav {
    display: inline-flexbox;
  }
  .navbar-extra {
    margin-right: 0;
  }
  .navbar-login {
    display: block;
  }
}
/* laptop */
@media (max-width: 998px) {
  #hamburger-menu {
    display: block; /* Aktifkan menu hamburger */
  }

  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    overflow-y: auto;
    transition: 0.4s;
  }
  .navbar-nav ul {
    display: block;
  }
  .navbar-nav li {
    border-bottom: 1px solid #ccc;
  }
  .navbar-nav ul li a:hover {
    background-color: rgba(255, 107, 107, 0.7);
    border-radius: 0;
  }
  .navbar-nav.active {
    right: 0;
  }
  .navbar-extra {
    gap: 10px;
  }
  .navbar-login {
    flex-direction: row;
    gap: 5px;
  }
  .dropdown {
    flex-direction: column;
  }
  .dropdown-parent.active .dropdown {
    display: flex;
  }
  .dropdown-parent a {
    padding: 8px;
    font-size: 14px;
  }
  .dropdowns {
    flex-direction: column; /* Urut vertikal */
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }
}

/* tablet */
@media (max-width: 578px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  .navbar-logo img {
    width: 20px;
    height: 20px;
  }

  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 20rem;
    height: 100vh;
    transition: 0.4s;
  }
  .navbar-nav.active {
    right: 0;
  }
  .navbar-extra {
    gap: 5px;
  }
  .navbar-login {
    display: none; /* Sembunyikan login/register */
  }
  .dropdown-list ul {
    padding: 5px;
  }
  .dropdown-list span {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .navbar-logo img {
    width: 20px;
    height: 20px;
  }

  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 15rem;
    height: 100vh;
    transition: 0.4s;
  }
  .navbar-nav.active {
    right: 0;
  }
  .navbar-extra {
    gap: 5px;
  }
  .navbar-login {
    display: none; /* Sembunyikan login/register */
  }
  .dropdown-list ul {
    padding: 5px;
  }
  .dropdown-list span {
    font-size: 12px;
  }
}
.hero {
  display: flex;
  align-items: center;
  text-align: center;
}
.hero-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 110px;
}
.hero-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
/* section syllabus */
.searching-container {
  background: url("https://image.web.id/images/Group-4113.png") center center /
    cover no-repeat rgb(20, 167, 160);
  width: 95%;
  height: 15rem;
  border-radius: 20px;
  padding: 0 20px 20px 20px;
}
.heading {
  padding: 10px;
}
.heading h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
}
.heading p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
}
.search-container {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.search-bar {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  gap: 10px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar input:focus::placeholder {
  color: transparent;
}
.search-bar button {
  padding: 10px 20px;
  background-color: white;
  color: #2ac1bc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.sort-container label {
  font-size: 16px;
  font-weight: 600;
  color: rgb(0, 0, 0, 0.8);
}
.sort-container select {
  text-align: center;
  font-weight: 600;
  color: rgb(0, 0, 0, 0.8);
}
.sort-container {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  margin: 20px;
  gap: 22rem;
}
.sorting {
  display: flex;
  gap: 2rem;
}

select#sort-level,
select#sort-price,
select#sort-category {
  width: 8rem;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #2ac1bc;
}
.courses-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  width: 80%;
}

.course-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer; /* Menentukan bahwa kursus dapat diklik */
}

.course-card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Efek hover */
  transform: scale(1.02); /* Membuat efek zoom sedikit */
}

.course-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.course-card .content {
  padding: 15px;
}

.course-card h5 {
  margin: 0 0 10px;
  font-size: 18px;
}

.course-card .price {
  color: #2ac1bc;
  font-weight: bold;
}
.content {
  display: flex;
  flex-direction: column;
}
.col-content-info {
  display: flex;
  flex-direction: column;
}
.col-content-info hr {
  color: #000;
}

.col-price {
  border-top: 1px solid rgb(0, 0, 0, 0.8);
}
.col-mid-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.right-col-info span {
  margin-bottom: 25px;
  color: #555;
  font-size: 14px;
  padding: 0;
}

.left-col-info {
  text-align: left;
}
.right-col-info {
  display: flex;
  align-items: center;
}
.left-col-info p {
  color: #555;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0;
}
.col-bot-info {
  display: flex;
  gap: 20px;
}
.rating-left span {
  display: flex;
  align-items: center;
  width: 50px;
  height: 24px;
}
.rating-left span strong {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e1e119;
}
.rating-right {
  margin-top: 2px;
}
.rating-right span small {
  font-size: 14px;
}
.rating-img strong img {
  width: 24px;
  height: 24px;
}
.no-results {
  text-align: center;
  color: #555;
  font-size: 16px;
  margin-top: 20px;
}

/* Responsive Navbar */
@media (max-width: 1024px) {
  .sort-container {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 998px) {
  #hamburger-menu {
    display: block;
  }

  .navbar-nav {
    position: fixed;
    top: 100%;
    right: -100%;
    flex-direction: column;
    gap: 0;
    background-color: #fff;
    width: 60%;
    height: 100vh;
    transition: right 0.3s ease;
    z-index: 9999;
  }

  .navbar-nav.active {
    right: 0;
  }
}

/* Course Section */
.courses-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.course-card {
  width: calc(33.333% - 20px);
}

@media (max-width: 790px) {
  .course-card {
    width: calc(50% - 20px);
  }
}
@media (max-width: 722px) {
  .heading h1 {
    font-size: 1.5rem;
  }
  .heading p {
    font-size: 0.8rem;
  }
  .searching-container {
    height: 12rem;
  }
}
@media (max-width: 548px) {
  .searching-container {
    height: 14rem;
  }
}
@media (max-width: 480px) {
  .sort-container,
  .sorting {
    display: block;
  }
  .sorting {
    margin-bottom: 7px;
  }
  .sort-container {
    margin-top: 20px;
  }
  .sort-level {
    margin-bottom: 7px;
  }
  .courses-container {
    padding: 0;
  }
  .course-card {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
