/* LINK FONT */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#2b2b2b, #2b2b2b);
}
.container {
  position: relative;
  width: 100%;
  max-width: 50%;
  max-height: 50%;
  background: #fff;
  margin: auto;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.card-wrapper {
  display: flexbox;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
.card-wrapper .card {
  width: 400px;
  height: 300px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
.card-list .card-item {
  list-style: none;
}
.card-list .card-item .card-link {
  width: 400px;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
  border-color: #5372f0;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #5372f0;
  padding: 0;
  margin: 16px 0 18px;
  background-color: #dde4ff;
  font-weight: 500;
  width: fit-content;
  border-radius: 50px;
}
.card-list .card-link .card-title {
  color: #fff;
  font-size: 1.19rem;
  font-weight: 500;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: aqua;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #5372f0;
  transform: rotate(-45deg);
}

.card-list .card-link .card-button {
  color: #fff;
  background-color: #5372f0;
}
