<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="syllabus.css" />
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <!-- Navigasi -->
    <nav class="navbar">
      <div class="logo">
        <a href="#" class="navbar-logo">
          <img src="img/icon/logo.png" alt="" />
        </a>
      </div>
      <div class="navbar-nav">
        <ul>
          <li name="home">
            <a href="/Main Page/index.html"> Home </a>
          </li>
          <!-- Program & Fasilitas -->
          <li name="program dan Fasilitas" class="dropdown-parent">
            <a href="#">
              Program & Fasilitas
              <i>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  width="16"
                  height="16"
                >
                  <path
                    d="m4.427 7.427 3.396 3.396a.25.25 0 0 0 .354 0l3.396-3.396A.25.25 0 0 0 11.396 7H4.604a.25.25 0 0 0-.177.427Z"
                  ></path>
                </svg>
              </i>
            </a>
            <!-- Dropdown -->
            <div class="dropdowns">
              <div class="dropdown-list">
                <ul>
                  <li>
                    <a href="#">
                      <img src="img/icon/forum.png" alt="Forum" />
                      <span>Forum</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/icon/syllabus.png" alt="Syllabus" />
                      <span>Syllabus</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/icon/internship.png" alt="Internship" />
                      <span>Virtual Internship</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="dropdown-list">
                <ul>
                  <li>
                    <a href="#">
                      <img src="img/icon/bootcamp.png" alt="Bootcamp" />
                      <span>Bootcamp Comparasion</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/icon/payment.png" alt="Payment" />
                      <span>Payment Option</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/icon/connect.png" alt="Alumni" />
                      <span>Connect With Alumni</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- Ulasan -->
          <li name="ulasan" class="dropdown-parent">
            <a href="#">
              Ulasan
              <i>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  width="16"
                  height="16"
                >
                  <path
                    d="m4.427 7.427 3.396 3.396a.25.25 0 0 0 .354 0l3.396-3.396A.25.25 0 0 0 11.396 7H4.604a.25.25 0 0 0-.177.427Z"
                  ></path>
                </svg>
              </i>
            </a>
            <ul class="dropdown">
              <li>
                <a href="#">
                  <img src="img/icon/mentor.png" alt="" />
                  <span>Rating Mentor</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="img/icon/student.png" alt="" />
                  <span>Rating Alumni</span>
                </a>
              </li>
            </ul>
          </li>

          <!-- Tentang Kami -->
          <li name="aboutme" class="dropdown-parent">
            <a href="#">
              Tentang Kami
              <i>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  width="16"
                  height="16"
                >
                  <path
                    d="m4.427 7.427 3.396 3.396a.25.25 0 0 0 .354 0l3.396-3.396A.25.25 0 0 0 11.396 7H4.604a.25.25 0 0 0-.177.427Z"
                  ></path>
                </svg>
              </i>
            </a>
            <ul class="dropdown">
              <li>
                <a href="#">
                  <img src="img/icon/about.png" alt="" />
                  <span>Tentang Website</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="img/icon/lowongan.png" alt="" />
                  <span>Lowongan Kerja</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="navbar-extra">
        <div class="navbar-login">
          <a
            href="../Registration Page/registrationpage.html"
            class="register-link"
            >Daftar</a
          >
          <a href="../login page/loginpage.html" class="login">Login</a>
        </div>
        <div id="hamburger-menu"><i data-feather="menu"></i></div>
      </div>
    </nav>
    <main class="hero">
      <section class="hero-container">
        <div class="hero-fill">
          <section class="searching-container">
            <div class="heading">
              <h1>Cari Kelas yang Kamu Pelajari</h1>
              <p>Lebih dari 900+ kelas yang dapat kamu pelajari di sini</p>
            </div>
            <div class="search-container">
              <div class="search-bar">
                <input
                  type="text"
                  id="search-input"
                  placeholder="Cari kelas yang kamu butuhkan..."
                />
                <button onclick="searchCourses()">Cari</button>
              </div>
            </div>
          </section>
          <section class="sort-container">
            <div class="sorting">
              <div class="sort-level">
                <label for="sort-level"> Level </label>
                <select id="sort-level" onchange="sortCourses()">
                  <option value="all">Semua Kategori</option>
                  <option value="beginner">Beginner</option>
                  <option value="intermediate">Intermediate</option>
                  <option value="advanced">Advanced</option>
                </select>
              </div>
              <div class="sort-price">
                <label for="sort-price">Harga</label>
                <select id="sort-price" onchange="sortCourses()">
                  <option value="all">Semua Kategori</option>
                  <option value="highest">Harga Tertinggi</option>
                  <option value="lowest">Harga Terendah</option>
                </select>
              </div>
            </div>
            <div class="sort-class">
              <label for="sort-category">Kategori</label>
              <select id="sort-category" onchange="sortCourses()">
                <option value="all">Semua Kategori</option>
                <option value="popular">Kelas Populer</option>
                <option value="newest">Kelas Terbaru</option>
                <option value="oldest">Kelas Terlama</option>
              </select>
            </div>
          </section>
          <section class="courses-container">
            <div class="courses" id="courses">
              <!-- Data Struktur -->
              <div
                class="course-card"
                data-popular="2"
                data-price="159000"
                data-level="advanced"
                data-duration="120"
              >
                <img
                  src="img/courses/syllabus-datastructure.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>Building Efficient Problem-Solving Skills</h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: advanced</p>
                        <p>Durasi: 2 Jam</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 200</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.8</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(90) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 159.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Building Efficient Problem-Solving Skills -->
              <div
                class="course-card"
                data-popular="2"
                data-price="399000"
                data-level="intermediate"
                data-duration="120"
              >
                <img
                  src="img/courses/syllabus-economics.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>Mentoring Ekonomi untuk Pengambil Keputusan</h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: intermediate</p>
                        <p>Durasi: 2 Jam</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 100</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.8</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(900) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 399.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- basic electronic -->
              <div
                class="course-card"
                data-popular="3"
                data-price="99000"
                data-level="beginner"
                data-duration="90"
              >
                <img
                  src="img/courses/syllabus-electronics.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>Understanding Components, Circuits, and Systems</h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: beginner</p>
                        <p>Durasi: 1 Jam 30 Menit</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 500</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.8</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(998) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 99.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Advance English -->
              <div
                class="course-card"
                data-popular="3"
                data-price="159000"
                data-level="beginner"
                data-duration="180"
              >
                <img
                  src="img/courses/syllabus-english.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>
                      Mastering Advanced English: Skills for Global
                      Communication
                    </h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: beginner</p>
                        <p>Durasi: 3 Jam</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 500</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.8</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(765) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 159.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--Mastering Goal Achievement: Strategies, Mindset, and Action Plan -->
              <div
                class="course-card"
                data-popular="1"
                data-price="159000"
                data-level="beginner"
                data-duration="240"
              >
                <img src="img/courses//syllabus-goal.png" alt="Course Image" />
                <div class="content">
                  <div class="col-content">
                    <h5>
                      Mastering Goal Achievement: Strategies, Mindset, and
                      Action Plan
                    </h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: beginner</p>
                        <p>Durasi: 4 Jam</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 30</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.8</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(902) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 159.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Building a Powerful Personal Brand  -->
              <div
                class="course-card"
                data-popular="1"
                data-price="699000"
                data-level="intermediate"
                data-duration="180"
              >
                <img
                  src="img/courses/syllabus-personal.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>Building a Powerful Personal Brand</h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: advanced</p>
                        <p>Durasi: 3 Jam</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 40</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.5</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(921) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 699.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- philosophy of science -->
              <div
                class="course-card"
                data-popular="1"
                data-price="199000"
                data-level="beginner"
                data-duration="240"
              >
                <img
                  src="img/courses/syllabus-philosophy.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>
                      A Comprehensive Syllabus on the Philosophy of Science
                    </h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: advanced</p>
                        <p>Durasi: 4 Jam</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 40</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.5</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(309) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 199.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- programming basic -->
              <div
                class="course-card"
                data-popular="1"
                data-price="599000"
                data-level="advanced"
                data-duration="360"
              >
                <img
                  src="img/courses/syllabus-programming.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>A Comprehensive Introduction to Coding</h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: advanced</p>
                        <p>Durasi: 6 Jam</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 100</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.9</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(98) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 599.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div
                class="course-card"
                data-popular="1"
                data-price="159000"
                data-level="advanced"
                data-duration="120"
              >
                <img
                  src="img/courses/syllabus-datastructure.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>Membuat Website Crowdfunding</h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: advanced</p>
                        <p>Durasi: 2 Jam</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 100</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.8</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(123) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 159.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Public Speaking -->
              <div
                class="course-card"
                data-popular="1"
                data-price="799000"
                data-level="advanced"
                data-duration="150"
              >
                <img
                  src="img/courses/syllabus-speaking.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>A Step-by-Step Syllabus for Confident Communication</h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: advanced</p>
                        <p>Durasi: 2 Jam 30 Menit</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 1700</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.7</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(33) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 799.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- How To a create website -->
              <div
                class="course-card"
                data-popular="1"
                data-price="999000"
                data-level="intermediate"
                data-duration="120"
              >
                <img
                  src="img/courses/syllabus-website.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>The Complete Guide to Building Websites</h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: intermediate</p>
                        <p>Durasi: 2 Jam</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 10000</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.8</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(676) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 999.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div
                class="course-card"
                data-popular="1"
                data-price="159000"
                data-level="advanced"
                data-duration="120"
              >
                <img
                  src="img/courses/syllabus-datastructure.png"
                  alt="Course Image"
                />
                <div class="content">
                  <div class="col-content">
                    <h5>Membuat Website Crowdfunding</h5>
                  </div>
                  <div class="col-content-info">
                    <div class="col-mid-info">
                      <div class="left-col-info">
                        <p>Level: advanced</p>
                        <p>Durasi: 2 Jam</p>
                      </div>
                      <div class="right-col-info">
                        <span>Siswa : 100</span>
                      </div>
                    </div>
                    <div class="col-bot-info">
                      <div class="rating-left">
                        <span>
                          <strong>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              data-prefix="fas"
                              data-icon="star-half-stroke"
                              class="svg-inline--fa fa-star-half-stroke me-1"
                              role="img"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512"
                            >
                              <path
                                fill="currentColor"
                                d="M288 376.4l.1-.1 26.4 14.1 85.2 45.5-16.5-97.6-4.8-28.7 20.7-20.5 70.1-69.3-96.1-14.2-29.3-4.3-12.9-26.6L288.1 86.9l-.1 .3 0 289.2zm175.1 98.3c2 12-3 24.2-12.9 31.3s-23 8-33.8 2.3L288.1 439.8 159.8 508.3C149 514 135.9 513.1 126 506s-14.9-19.3-12.9-31.3L137.8 329 33.6 225.9c-8.6-8.5-11.7-21.2-7.9-32.7s13.7-19.9 25.7-21.7L195 150.3 259.4 18c5.4-11 16.5-18 28.8-18s23.4 7 28.8 18l64.3 132.3 143.6 21.2c12 1.8 22 10.2 25.7 21.7s.7 24.2-7.9 32.7L438.5 329l24.6 145.7z"
                              ></path>
                            </svg>
                            <span>4.8</span>
                          </strong>
                        </span>
                      </div>
                      <div class="rating-right">
                        <span class="rating-right">
                          <span>
                            <small>(118) Penilaian</small>
                          </span>
                        </span>
                      </div>
                    </div>
                    <hr />
                    <div class="col-price">
                      <p class="price">Rp 159.000</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-info">
          <a id="home" class="footer-location">
            <span class="footer-icon">
              <img src="img/iconfooter/location.svg" alt="Location" />
            </span>
            <span class="footer-logo">
              <img src="img/iconfooter/logo.png" alt="Skill Span Logo" />
            </span>
            <div class="footer-name">
              <span class="footer-skill">Skill</span>
              <span class="footer-span">Span</span>
            </div>
          </a>
          <p class="footer-address">
            Gedung L1, Kampus A Universitas Negeri Jakarta,<br />
            Jalan Rawamangun Muka, Jakarta Timur,<br />
            Daerah Khusus Ibukota Jakarta 13220
          </p>
          <a href="#" class="footer-address"> Lihat di Google Maps </a>
          <p>
            <span class="footer-icon">
              <img src="img/iconfooter/mail.svg" alt="Email" />
            </span>
            Email: <a href="mailto:info@skilvul.com">info@skilspan.com</a>
          </p>
          <p>
            <span class="footer-icon">
              <img src="img/iconfooter/wa.svg" alt="WhatsApp" />
            </span>
            WhatsApp: <a href="tel:+6282323450242">+62821 22xx 0x0x</a>
          </p>
        </div>
        <!-- Area Links -->
        <div class="footer-links">
          <h4>Skill Span</h4>
          <ul>
            <li><a href="#">Karir</a></li>
            <li><a href="#">Tentang Kami</a></li>
            <li><a href="#">Partner</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>Layanan</h4>
          <ul>
            <li><a href="#">Kelas</a></li>
            <li><a href="#">Beasiswa</a></li>
            <li><a href="#">Challenge</a></li>
            <li><a href="#">SkilPath</a></li>
            <li><a href="#">Webinar</a></li>
            <li><a href="#">Paket</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>Bantuan dan Panduan</h4>
          <ul>
            <li><a href="#">Syarat dan Ketentuan</a></li>
            <li><a href="#">Kebijakan Privasi</a></li>
            <li><a href="#">Bantuan</a></li>
          </ul>
        </div>
      </div>

      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <p>© 2024, PT Skill Span Indonesia.</p>
        <div class="social-icons">
          <a href="#"
            ><img src="img/iconfooter/instagram.svg" alt="Instagram"
          /></a>
          <a href="#"
            ><img src="img/iconfooter/linkedin.svg" alt="LinkedIn"
          /></a>
          <a href="#"><img src="img/iconfooter/youtube.svg" alt="YouTube" /></a>
        </div>
      </div>
    </footer>
    <script>
      feather.replace();
    </script>
    <script src="syllabus.js"></script>
  </body>
</html>
